#categorymain
{
    height:450px;
    width:800px;
    background-color :rgb(0, 126, 128);

}
.categorypart
{
    height:150px;
    width:200px;
    background-color :rgb(0, 126, 128);
    float:left;

}