.nav-link {
    margin-right: 20px;   /* button ke beech gap */
}

.admin-menu {
  list-style: none;
  display: flex;
  gap: 25px;
  background: linear-gradient(90deg, #1e293b, #0f172a);
  padding: 14px 25px;
  border-radius: 8px;
}

.admin-menu li {
  position: relative;
}

.admin-menu a,
.dropbtn {
  color: #f8fafc;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

.admin-menu a:hover,
.dropbtn:hover {

  border-radius: 6px;
}
/* Dropdown wrapper */
.dropdown {
  position: relative;
}

/* Settings button */
.dropbtn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(135deg);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect on button */
.dropbtn:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 18px ;
}

/* Dropdown menu */
.dropdown-content {
  position: absolute;
  top: 52px;
  right: 0;
  width: 210px;
  background: rgba(29, 28, 64, 0.95);
  backdrop-filter: blur(8px);
  border-radius: 14px;
  padding: 8px 0;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px) scale(0.98);
  transition: all 0.35s ease;
  z-index: 999;
}

/* Show dropdown */
.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

/* Dropdown links */
.dropdown-content li {
  list-style: none;
}

.dropdown-content li a {
  display: inline;
  align-items: center;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #122239;
  text-decoration: none;
  transition: all 0.25s ease;
}

/* Hover effect on items */
.dropdown-content li a:hover {
  background: linear-gradient(90deg,  #1e293b, #0f172a);
  color: #0f172a;
  padding-left: 26px;
}
